<%= provide :title, t(".title") %>
<div class="card-header"><%= t ".title" %></div>
<div class="card-body">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <%= f.check_box :remember_me %><span><%= t ".remember" %></span>
      </div>
    </div>

    <%= f.submit t(".title"), class: "btn btn-primary btn-block" %>
  <% end %>
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
